@use 'fonts';

// Colors
$color-black: rgb(0, 0, 0);
$color-green: rgb(0, 255, 0);
$color-white: rgb(255, 255, 255);

// Typography
$font: "IBM Plex Sans", sans-serif;
$big-font: 50px;
$small-font: 11px;

// Font Weights
$font-regular: 400;
$font-semi-bold: 600;
$font-light: 100;
$font-bold: 800;

// Z-Index
$z-tooltip: 10;
$z-fixed: 100;
